<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
	</listeners>
  <test thread-count="5" name="chrometest">
	  <parameter name="os" value="Windows"></parameter>
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testtPage.TC001_AccountRegistrartionTest"/>
    </classes>
  </test> <!-- master -->
  
   <test thread-count="5" name="firefoxtest">
	  <parameter name="os" value="Linux"></parameter>
	  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="testtPage.TC001_AccountRegistrartionTest"/>
    </classes>
  </test> <!-- master -->
   <!-- Test -->
</suite> <!-- Suite -->
